.bx-wrapper .bx-viewport {
    padding: 5px 12px 10px 6px !important;
    left: 0px !important;
}

.bx-wrapper .bx-description {
    position: absolute ;
    bottom: 0 ;
    left: 0 ;
    width: 100% ;
    border-radius:0 0 5px 5px;
    z-index: 1000;
}

/* styles for '...' */ 
.bx-wrapper .bx-description span {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 52px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
    padding: 5px 12px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: aliceblue;
    text-overflow: ellipsis;
}

div.bx-description a.more-link {
  display: none;
}

/*.bx-wrapper .bx-caption span {
    padding: 5px 0px 5px 5px !important;
}*/

.bx-wrapper .bx-caption span {
    color: #fff;
    display: block;
    font-family: "Open Sans" !important;
    font-size: 14px !important;
    padding: 0px 0px 60px 5px !important;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    text-shadow: 1px 1px #1a97cd;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}